@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Chat */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #2d2d2d; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #10b981; 
}